################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/PatromonioAPI/toroinvestimentos.patromonio.crosscutting/obj
/PatromonioAPI/.vs/PatromonioAPI/DesignTimeBuild
/PatromonioAPI/.vs/PatromonioAPI/v16
/PatromonioAPI/toroinvestimentos.patromonio.domain/bin/Debug/netcoreapp3.1
/PatromonioAPI/toroinvestimentos.patromonio.domain/obj
/PatromonioAPI/toroinvestimentos.patromonio.infra.crosscutting/bin/Debug/netcoreapp3.1
/PatromonioAPI/toroinvestimentos.patromonio.infra.crosscutting/obj
/PatromonioAPI/toroinvestimentos.patromonio.infra.data/bin/Debug/netcoreapp3.1
/PatromonioAPI/toroinvestimentos.patromonio.infra.data/obj
/PatromonioAPI/toroinvestimentos.patromonio.service/bin/Debug/netcoreapp3.1
/PatromonioAPI/toroinvestimentos.patromonio.service/obj
/PatromonioAPI/ToroInvestimentos.PatromonioAPI/bin/Debug/netcoreapp3.1
/PatromonioAPI/ToroInvestimentos.PatromonioAPI/obj
/PatromonioAPI/toroinvestimentos.Test/obj
/PatromonioAPI/toroinvestimentos.Test/bin/Debug/netcoreapp3.1
/PatromonioAPI/PatrimonioPortal/bin/Debug/netcoreapp3.1
/PatromonioAPI/PatrimonioPortal/.vs/PatrimonioPortal
/PatromonioAPI/packages
/PatromonioAPI/.vs/PatromonioAPI/config
/PatromonioAPI/PatrimonioPortal/obj
